.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 40%;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

  }

  .nav-container h1{
    font-size: 1.5em;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  @media only screen and (max-width:800px){
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
      color: white;
      border: none;
      display: block;
      text-align: left;
      position: relative;
      left: 79%;
    }

      .nav-container{
        background-color: rgb(161, 15, 201);
      position: fixed;
      z-index: 2;
      width: 100%;
      display: flex;
    }

    .nav-container h1{
      margin-left: 4%;
      color: white;
    }
  }

  @media only screen and (max-width:600px){
    .openbtn{
      position: relative;
      left:76%;
    }
  }
  @media only screen and (max-width:500px){
    .openbtn{
      position: relative;
      left:65%;
    }
  }

  @media only screen and (max-width:400px){
    .openbtn{
      position: relative;
      left:64%;
    }
  }



